/* ========== COMMON STYLES ========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background: #ffffff;
}

.container {
    max-width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* ========== HEADER STYLES ========== */
.page-header-container {
    display: flex;
    justify-content: space-between;
}

.block-nav {
    display: flex;
    column-gap: 76px;
    align-items: center;
}

.menu {
    display: flex;
    column-gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-menu {
    display: flex;
    column-gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-address {
    font-style: normal;
}

.color-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.bloc-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.address-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* ========== HERO STYLES ========== */
.page-section {
    margin-bottom: 120px;
    width: 1440px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
}

.page-first {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        padding-top: 188px;
        padding-right: 472px;
        padding-bottom: 48px;
        padding-left: 472px;

}

.page-but {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;
        margin-left: 635px;
        margin-right: 635px;
        margin-bottom: 188px;
        padding-top: 16px;
        padding-right: 32px;
        padding-bottom: 16px;
        padding-left: 32px;
        border-radius: 4px;
        border: none;
        min-width: 169px;
        height: 56px;
}
.page-but:hover,
.page-but:focus {
    background: #404bbf;
}

.page-section {
    background: #2e2f42;
}

/* ========== BENEFITS STYLES ========== */
.section-benefits {
    margin-bottom: 120px;
}

.menu-benefits {
    display: flex;
    column-gap: 24px;
}

.page-third {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-bottom: 8px;
}

.para-benefits {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*  ========== OUR-TEAM STYLES ========== */
.page-team {
    margin-bottom: 120px;
    width: 1440px;
    height: 732px;
    margin-right: auto;
    margin-left: auto;
}

.card-cont {
    padding: 32px 16px;
}

.menu-team {
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;
}

.team-second {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        align-items: center;
        padding-top: 120px;
        padding-bottom: 72px;
}

.menu-team-item {
    background-color: #FFFFFF;
}

.menu-team-third {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        padding-bottom: 8px;
}

.menu-team-para {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.page-team {
    background: #f4f4fd;
}

/* ========== OUR PORTFOLIO STYLES========== */
.portf-section {
    width: 1128px;
    height: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 120px;
}

.menu-portf-container {
    display: flex;
    flex-wrap: wrap;
}

.row-one {
    display: flex;
    width: 1128px;
    height: 420px;
    padding-bottom: 48px;
    gap: 24px;
}

.row-tuo {
    display: flex;
    width: 1128px;
    height: 420px;
    gap: 24px;
}

.portf-second {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        padding-bottom: 72px;
}

.menu-portf-third {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 32px;
        padding-bottom: 8px;
        padding-left: 16px;
}

.menu-portf-par {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-bottom: 32px;
        padding-left: 16px;
}

/* ========== FOOTER STYLES ========== */
.footer-color-studio {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}
.link-footer {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        padding-bottom: 16px;
}

.para-footer {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding-top: 16px;
}

.page-footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
